---
---

@import "{{ site.theme }}";

.credits {
   display: none !important;
}

.fork {
  display: none !important;
}

#header {
   display: none !important;
}

body::before {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Ensure it appears above other content */
    width: 90px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed, maintain aspect ratio */
    background: url('/Chaipoint.png') no-repeat;
    background-size: contain;
}
